<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark my-5">
        <div class="col-md-10 mx-auto px-0">
          <h1 class=" font-italic">About BookMyWebinar</h1>
          <p class="lead my-3">BookMyWebinar is a Online  platform for booking webinars and workshops conducted by respective organisations.</p>
          <div class="col-md-8 mx-auto">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">App Workflow</strong>
              <p class="card-text text-dark mb-auto">One should login the platform to view the details of workshops available.<br>So the user must signup through the link in right corner of the navbar to access the application completelely.  </p>
            </div>
          </div>
        </div>
        <div class="col-md-8 mx-auto">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">Home Page</strong>
              <p class="card-text text-dark mb-auto">Once the user is signed up or logged in the home page shows the upcoming workshops at the top and the past workshops at the bottom separately.</p>
            </div>
          </div>
        </div>
        <div class="col-md-8 mx-auto">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">Upload Workshops</strong>
              <p class="card-text text-dark mb-auto">The application designed such that only the admin is allowed to upload any new workshops in the portal.<br>
              The users are not allowed to upload any new workshop details for the genuinity and security purposes.</p>
            </div>
          </div>
        </div>
        <div class="col-md-8 mx-auto">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">Details of Workshops</strong>
              <p class="card-text text-dark mb-auto">Once the user click the view details button on the respective workshops, the page redirects to another page.<br>
              This page of workshop consists of all the information about the particular workshop.<br>
              The details include,total duration of workshop consists of start date and end date of the workshop, daily workshop hours, the registration fee, total seats allocated for the workshops, remaining seats available for the workshops.</p>
            </div>
          </div>
        </div>
        <div class="col-md-8 mx-auto">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">How to book Workshops?</strong>
              <p class="card-text text-dark mb-auto">The payment form for booking the workshop can be found at the bottom of respective workshop page.<br>
              The payment method is designed to be carried out via <strong>Stripe</strong>UPI.<br>
              Once the payment is successfull the user shall be redirected to the confirmation page.<br><br>
              The confirmation email shall be generated and will be sent to the respective registered email address.</p>
            </div>
          </div>
        </div>
        <div class="col-md-8 text-center mx-auto">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex  flex-column ">
             <h1 class= "fst-italic text-primary">Happy Learning!</h1>
            </div>
          </div>
        </div>
        </div>
        </div>
        
      </div>