<div class="col-lg-10 mx-auto">
    <% if user_signed_in? %>
    <%= render 'shared/workshops', workshops: @upcoming_workshops, section_title:'Upcoming Workshops' %>
    <%= render 'shared/workshops', workshops: @past_workshops, section_title:'Past Workshops' %>
    <% else %>
        <%= render 'shared/workshops', workshops: @upcoming_workshops, section_title:'Available Workshops' %>
    <% end %>
</div>